* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 66%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: space-around;
  height: 120px;
  width: 160px;
  margin: 10px 20px;
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.diamond {
  width: 0;
  height: 0;
  border: 20px solid transparent;
  position: relative;
  top: -20px;
}

.diamond.red    { border-bottom: 40px solid red; }
.diamond.purple { border-bottom: 40px solid purple; }
.diamond.green  { border-bottom: 40px solid green; }

.diamond:after {
  content: '';
  position: absolute;
  left: -20px; top: 40px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
}

.diamond.red:after    { border-top: 40px solid red; }
.diamond.purple:after { border-top: 40px solid purple; }
.diamond.green:after  { border-top: 40px solid green; }

.diamond + .diamond {
  margin-left: 5px;
}

.pill {
  height: 75px;
  width: 35px;
  border-radius: 20px;
}

.pill.solid.red    { background: red; }
.pill.solid.purple { background: purple; }
.pill.solid.green  { background: green; }

.pill.red:not(.solid)    { border: 3px solid red; }
.pill.purple:not(.solid) { border: 3px solid purple; }
.pill.green:not(.solid)  { border: 3px solid green; }

.pill.striped.red    { background: repeating-linear-gradient(45deg, red, red 10px, white 0px, white 15px )}
.pill.striped.purple { background: repeating-linear-gradient(45deg, purple, purple 10px, white 0px, white 15px )}
.pill.striped.green  { background: repeating-linear-gradient(45deg, green, green 10px, white 0px, white 15px )}

.pill + .pill {
  margin-left: 10px;
}